@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.145 0 0);
  --light-gray: oklch(55.754% 0.01655 244.997);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --light-gray: oklch(67.64% 0.01748 254.033);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-gray: var(--light-gray);
  --animate-spin-slow: spin 6s linear infinite;
}
@layer components {
  .container {
    padding-inline: 1rem;
    margin-inline: auto;
    @variant md {
      padding-inline: 3rem;
    }
    @variant lg {
      padding-inline: 5rem;
    }
  }
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold  text-foreground;
  }
  h3 {
    @apply text-2xl font-medium  text-foreground;
  }
  a {
    @apply text-light-gray;
  }
}
