@import "tailwindcss";
:root {
  --background: oklch(0.95 0 0);
  --foreground: oklch(0.145 0 0);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@layer components {
  .container {
    padding-inline: 1rem;
    margin-inline: auto;
    @variant md {
      padding-inline: 3rem;
    }
    @variant lg {
      padding-inline: 5rem;
    }
  }
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold text-gray-800;
  }
}
